* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.dark-page {
  background-color: #050505;
  min-height: 100vh;
}

.loanding-icon {
  align-self: center;
  margin-top: 40px;
  width: 100px;
  animation: girar 1500ms ease-in-out infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (width > 1300px) {
  header,
  main {
    width: 780px;
  }
}

@media (width < 950px) {
  header,
  main {
    width: 70%;
  }
}

@media (width < 650px) {
  header,
  main {
    width: 80%;
  }
}

@media (width < 500px) {
  header,
  main {
    width: 350px;
  }
}

@media (width < 400px) {
  header,
  main {
    width: 95%;
  }
}
